<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Debug">

    <!-- 配置输出目标 -->
    <targets>
        <!-- 输出到文件 -->
        <target name="logfile" xsi:type="File" fileName=".\logging\file.txt" />
        <!-- 输出到控制台 -->
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <!-- 定义输出规则，可配置多个 -->
    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>