<?xml version="1.0" encoding="UTF-8"?>

<!-- 常用的log4j2配置文件 -->

<!-- 设置 -->
<!-- status：用来指定log4j本身的打印日志级别 -->
<!--
    8个优先级从高到低依次为：OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、 ALL。
    如果设置优先级为WARN，那么OFF、FATAL、ERROR、WARN 4个级别的log能正常输出
    设置为OFF 表示不记录log4j2本身的日志，
-->
<!-- monitorInterval:指定log4j自动重新配置的监测间隔时间 -->
<configuration status="INFO" monitorInterval="30">

	<!-- region 配置属性 -->

	<!-- 属性前置，便于后期配置 -->
	<properties>

		<!-- 存储log文件夹的位置 -->
		<property name="logs_home">logs</property>

		<!-- 备份log目录 -->
		<property name="backup_home">logs/backups</property>

		<!-- 打印所有信息，且每次运行程序自动清空的文件名称 -->
		<property name="test_log_name">test.log</property>

		<!-- 打印所有信息，自动备份存档的文件的名称 -->
		<property name="app_log_name">app.log</property>

		<!-- 文件日志格式 -->
		<property name="log_format">[%d] [%t] %-5level {%c{1.}.%M(%L)} %msg %n</property>

		<!-- region 控制台日志格式 -->

		<!-- 初始样式 -->
		<!--        <property name="log_format_console">-->
		<!--            %style{[%d]}{#fefd93} %style{[%t]}{bright,magenta} %highlight{%-5level}{ERROR=Bright RED, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White} %style{%c{1.}.%M(%L)}{cyan}: %msg %n-->
		<!--        </property>-->

		<!-- 常用样式 -->
		<property name="log_format_console">
			%style{[%d]}{#ff9ce5} %style{[%t]}{bright magenta} %highlight{%-5level}{ERROR=Bright RED, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White} %style{{%c{1.}.%M(%L)}}{#7cffcf}: %msg %n
		</property>

		<!-- endregion 控制台日志格式 -->

	</properties>

	<!-- endregion 配置属性 -->

	<!-- region 输出源 -->

	<appenders>

		<!-- 控制台输出源 -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${log_format_console}"/>
		</Console>

		<!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，适合临时测试用-->
		<File name="TestLog" fileName="${logs_home}/${test_log_name}" append="false">
			<PatternLayout pattern="${log_format}"/>
		</File>

		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
		<RollingFile name="AppLog" fileName="${logs_home}/${app_log_name}" filePattern="${backup_home}/$${date:yyyy-MM}/%d{MM-dd-yyyy}-%i-${app_log_name}.gz">
			<PatternLayout pattern="${log_format}"/>

			<!-- 文件最大大小 -->
			<!--			<SizeBasedTriggeringPolicy size="50MB"/>-->

			<Policies>
				<!--
					基于时间的触发策略。该策略主要是完成周期性的log文件封存工作。有两个参数：
					interval，integer型，指定两次封存动作之间的时间间隔。单位:以日志的命名精度来确定单位，
						比如yyyy-MM-dd-HH 单位为小时，yyyy-MM-dd-HH-mm 单位为分钟
					modulate，boolean型，说明是否对封存时间进行调制。若modulate=true，
						则封存时间将以0点为边界进行偏移计算。比如，modulate=true，interval=4hours，
						那么假设上次封存日志的时间为03:00，则下次封存日志的时间为04:00，
						之后的封存时间依次为08:00，12:00，16:00
				-->
				<TimeBasedTriggeringPolicy modulate="true" interval="4"/>

				<!-- 基于文件大小的触发策略 -->
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>

			<!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
			<!--            <DefaultRolloverStrategy max="20"/>-->

			<!-- 默认的文件大小处理策略，max表示filePattern配置的%i的最大值，即表示当天文件归档的最大数量 -->
			<DefaultRolloverStrategy max="20">
				<!-- 删除处理策略，在配置的路径中搜索，maxDepth表示往下搜索的最大深度 -->
				<Delete basePath="${backup_home}/" maxDepth="2">
					<!-- 文件名搜索匹配，支持正则 -->
					<IfFileName glob="*${app_log_name}.gz"/>
					<!-- 最新修改时间超过7d则会被删除 -->
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>

			<!-- 保存日志分级 -->
			<!-- 示例是只保存info等级的日志 -->
			<!--			<Filters>-->
			<!--				<ThresholdFilter level="WARN" onMatch="DENY" onMisMatch="NEUTRAL"/>-->
			<!--				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMisMatch="DENY"/>-->
			<!--			</Filters>-->

		</RollingFile>

	</appenders>

	<!-- endregion 输出源 -->

	<!-- region 日志记录器 -->

	<loggers>
		<root level="Debug">
			<appender-ref ref="Console"/>
			<appender-ref ref="TestLog"/>
			<appender-ref ref="AppLog"/>
		</root>
	</loggers>

	<!-- endregion 日志记录器 -->

</configuration>
