body {
  #app {
    width: 100%;

    nav {
      $nav_left_right_padding: 20px; // 在导航栏左右两侧的部分，其左右两侧预留出的padding长度
      //width: 100%;
      width: calc(100% - $nav_left_right_padding * 2); // 通过计算（不同单位之间的计算函数），减掉多余的部分
      height: 60px;
      padding: 0 $nav_left_right_padding;
      background-color: pink;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        width: 60%;
        display: flex;
        justify-content: left;
      }

      .right {
        width: 40%;
        display: flex;
        justify-content: right;
      }
      a{
        margin-right: 20px;
        &:last-child{
          margin-right: 0;
        }
      }
    }

    main {
      width: 100%;
      height: 400px;
      background-color: mediumvioletred;
    }

    footer {
      width: 100%;
      height: 400px;
      background-color: red;
    }
  }
}
