<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="rollingAppender" type="log4net.Appender.RollingRileAppender">
        <!-- <file value="log4\log.txt"/> -->
        <param name="File" value=".\log4\log.log"/>
        <appendToFile value="true"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <Encoding value="UTF-8" />
        
        <rollingStyle Value="Composite"/>
        <datePattern value="yyyyMMdd"/>
        <maxSizeRollBackups value="20"/>
        <maximumFileSize value="3MB"/>
        <staticLogFileName value="true"/>
        
        <filter type="log4net.Layout.PatternLayout,log4net">
            <param name="LevelMin" value="ALL"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
        
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
        </layout>
    </appender>

    <logger name="Logger">
        <level value="DEBUG"/>
    </logger>
    
    <root>
        <level value="ALL"/>
        <appender-ref value="rollingAppender"/>
    </root>
</log4net>