<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>cattail的个人博客</title>
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
</head>

<body>

<!-- region page -->

<div id="app">
    <nav>
        <div class="left">
            <a href="#">首页</a>
            <a href="#">新闻</a>
            <a href="#">心情</a>
            <a href="#">关于</a>
        </div>
        <div class="right">
            <a href="#">白色主题</a>
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
    </nav>
    <main>
    </main>
    <footer>
    </footer>
</div>

<!-- endregion page -->

<script>
    const app = Vue.createApp({
        data() {
            return {
                message: "hello, vue!"
            }
        }
    })
    app.config.compilerOptions.delimiters = ["[[", "]]"]
    app.mount("#app")
</script>

</body>

</html>

